.loginPHeader {
    height: 40vh;
    width: 100%;
   
}

.loginPHeader .loginPHeaderImg {

    background: rgb(18 50 87 / 73%);
    height: 75%;
    padding: 0px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    background-image: url('../../../Assets/school/login.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: luminosity;
    background-position: center;
   

}

.loginPHeader .loginPHeaderImg p {
    font-size: 18px;
}

.loginPHeader .loginPHeaderRoute {
    height: 25%;
    background: #f8f8f8;
    display: flex
;
    align-items: center;
    padding: 0px 200px;
    border-bottom: 1px solid #bdbdbd;
    color: #bdbdbd;
    font-size: 16px;
}

.loginPHeader .loginPHeaderRoute a {
    color: #bdbdbd;
    padding-right: 10px;
    text-decoration: none;
    transition: 0.4s;
}

.loginPHeader .loginPHeaderRoute a:hover {
    color: #449f73;
}

.loginPHeader .loginPHeaderRoute b {
    padding-left: 10px;
}


@media (max-width:800px ){
    .loginPHeader .loginPHeaderImg {
        padding: 0px 30px;
    }

    .loginPHeader .loginPHeaderRoute {
        padding: 0px 30px;
    }

    .loginPHeader .loginPHeaderImg p {
        font-size: 15px;
    }
}





























@media (max-width:800px ){
    .contactPHeader .contactPHeaderImg {
        padding: 0px 30px;
    }

    .contactPHeader .contactPHeaderRoute {
        padding: 0px 30px;
    }

    .contactPHeader .contactPHeaderImg p {
        font-size: 15px;
    }
}