.benefitsOfIntegration {
    width: 100%;
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.benefitsOfIntegration .title {
    text-align: center;
    padding: 10px 30px;
    border-bottom: 5px solid #198754;
    width: fit-content;
    margin: auto;
}

.benefitsOfIntegration .benefitGroup {
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.benefitsOfIntegration .benefitGroup .benefit {
    width: 370px;
    border: 1px solid #bcbaba;
    border-radius: 15px;
    height: 390px;
    margin: 5px;
    color: #4d6f8a;
    padding: 15px;
}

.benefitsOfIntegration .benefitGroup .benefit .benefitNumber {
    font-size: 55px;
    text-align: center;
    font-weight: bold;
    font-family: cursive;
}

.benefitsOfIntegration .benefitGroup .benefit .benefitTitle {
    text-align: center;
}

.benefitsOfIntegration .benefitGroup .benefit .benefitText {
    text-align: center;
    font-size: 20px;
}

.greenBenefit {
    background: #198754;
    color: whitesmoke !important;
}

.blueBenefit {
    background: #1e4564;
    color: whitesmoke !important;
}


@media (max-width:1000px) {
    .benefitsOfIntegration .benefitGroup {
        width: auto;
    }
}


@media (max-width:800px) {
    .benefitsOfIntegration .benefitGroup .benefit {
        width: 45%;
    }}


@media (max-width:450px) {
    .benefitsOfIntegration .benefitGroup .benefit {
        width: auto;
        height: auto;
    }

    .benefitsOfIntegration .benefitGroup .benefit .benefitNumber {
        font-size: 35px;
        text-align: initial;
    }

    .benefitsOfIntegration .benefitGroup .benefit .benefitTitle {
        text-align: initial;
    }

    .benefitsOfIntegration .benefitGroup .benefit .benefitText {
        text-align: initial;
        font-size: initial;
    }



}