.home {
  height: 100vh;
  width: 100%;
  background-color: rgb(202, 153, 153);
}

.navbarBottom {
  height: 20vh;
  width: 100%;
  background-color: #fff;
}

.navbarBottom .navbarBottomComponent {
  width: 80%;
  height: 100%;
  background-color: rgb(185, 157, 157);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarBottom .navbarBottomComponent .logo {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}

.navbarBottom .navbarBottomComponent .logo img {
  height: 50%;
  width: 100%;
}

.navbarBottom .navbarBottomComponent .routes {
  height: 100%;
  width: 80%;
  background-color: rgb(255, 0, 183);
}

.navbarBottom .navbarBottomComponent .socialMedia {
  height: 100%;
  width: 30%;
  background-color: rgb(0, 145, 255);
}
