.container-fluid {
    width: 80%;
    padding: 15px;
}

.bg-body-tertiary {
    background-color: #f8f8f8!important;
}

.links {
    font-size: 20px;
    font-weight: 400;
    margin: 0px 2px;
}

.btnSocial {
    background: #449f73;
    border-radius: 0px;
    margin: 0px 3px;
    border-radius: 6px;
}

.nav-link {
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease-in-out;
}

.nav-link.active {
    border-bottom: 2px solid #449f73;
}




/* Media Queries for Responsiveness */
@media (max-width: 992px) {
    .navbar-brand {
        width: 65%;
    }

    .navbar-brand img {
        width: 100%;
    }

}

@media (max-width: 768px) {}

@media (max-width: 576px) {}