.contactPQuestion {
    width: 100%;
    background-color: #202c40;
    background-image: url('../../../Assets/school/contactTeam.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: screen;
    color: whitesmoke;
    padding: 50px 0px;
    background-attachment: fixed;
}

.contactPQuestion h3 {
    text-align: center;
    padding: 10px 30px;
    border-bottom: 5px solid #198754;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.contactPQuestion .questions {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 25px;
}

.contactPQuestion .questions .frequQuestions {
    width: 50%;
    padding: 15px;
}

.contactPQuestion .questions .questForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    margin: 0px 35px;
    border-radius: 450px;
    box-shadow: 10px 10px 25px -4px #cfe2ff;
    padding: 50px 0px;
    height: 75vh;
    background-color: rgb(36 140 204 / 6%);
}

.contactPQuestion .questions .questForm .formQuestion {
    width: 70%;
}
.contactPQuestion .questions .questForm .formQuestion .questionCheckBox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
}

.contactPQuestion .questions .questForm .formQuestion .questionInputs {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contactPQuestion .questions .questForm .formQuestion .questionInputs .input {
    border: none;
    border-bottom: 1px solid grey;
    padding: 10px;
    background-color: transparent;
    color: whitesmoke;
}



.chekboxComponent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkBoxInput {
    height: 19px;
    width: 19px;
    margin: 0px 5px;
}


.sendQuestionBtn {
    float: inline-end;
    margin: 15px auto;
}

.sendQuestionBtn button {
    padding: 5px 35px;
    font-size: 15px;
    border: none;
    border-radius: 11px;
    transition: 0.4s;
    background-color: #cfe2ff;
    color: #198754;
}

.sendQuestionBtn button:hover {
    color: #cfe2ff;
    background-color: #198754;
    font-size: 16px;

}


@media (max-width:720px) {
    .contactPQuestion .questions .frequQuestions {
        width: auto;
    }

    .contactPQuestion .questions .questForm {
        padding: 35px 35px ;
        width: auto;
        height: 65vh;
    }

    .contactPQuestion .questions .questForm  h4 {
        text-align: center;
    }

    .contactPQuestion .questions .questForm .formQuestion {
        width: auto;
    }

    .contactPQuestion .questions .frequQuestions p {
        padding-bottom: 30px;
    }
}