.contactPHeader {
    height: 40vh;
    width: 100%;
   
}

.contactPHeader .contactPHeaderImg {
    background: rgb(18 50 87 / 73%);
    height: 75%;
    padding: 0px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: whitesmoke;
    background-image: url('../../../Assets/school/pc.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;

}

.contactPHeader .contactPHeaderImg p {
    font-size: 18px;
}

.contactPHeader .contactPHeaderRoute {
    height: 25%;
    background: #f8f8f8;
    display: flex;
    align-items: center;
    padding: 0px 200px;
    border-bottom: 1px solid #bdbdbd;
    color: #bdbdbd;
    font-size: 16px;
}

.contactPHeader .contactPHeaderRoute a {
    color: #bdbdbd;
    padding-right: 10px;
    text-decoration: none;
    transition: 0.4s;
}

.contactPHeader .contactPHeaderRoute a:hover {
    color: #449f73;
}

.contactPHeader .contactPHeaderRoute b {
    padding-left: 10px;
}

@media (max-width:800px ){
    .contactPHeader .contactPHeaderImg {
        padding: 0px 30px;
    }

    .contactPHeader .contactPHeaderRoute {
        padding: 0px 30px;
    }

    .contactPHeader .contactPHeaderImg p {
        font-size: 15px;
    }
}