*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.footer{
    width: 100%;
    background: linear-gradient(to right, #272c45, #082108);
        color: #fff;
    padding: 50px 30px;
    font-size: 13px;
    line-height: 20px;
}
.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col{
    flex-basis: 40%;
    padding: 25px;
    justify-content: center;
    display: flex;
    flex-direction: column;

}

.col:nth-child(2), .col:nth-child(3){
    flex-basis: 25%;
}
.footer_logo{
    width: 250px;
    position: relative;
    top: -23px;
    left: -20px;
    padding: 15px;

    padding: 13px;
    background: #e2e2e29d;
    border-radius: 4%;
    margin: 15px 20px;
    border: 2px solid #f66335;
}
.footer_about{
    position: relative;
    top: -23px;
}
.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.footer_email{
    width: fit-content;
    border-bottom: 1px solid #f66335;
   
}

.col ul {
    padding: 0px;
}

.col ul li{
    list-style: none;
    margin-bottom: 12px;
}
.col ul li a{
    text-decoration: none;
    color: #fff;
}
.col form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f66335;
    margin-bottom: 50px;
}
.col form .icon{
    font-size: 18px;
    margin-right: 10px;
}
.col form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}
.col form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
.col form button .icon_right{
    font-size: 16px;
    color: #ccc;
}
.col .social_icons .social_icon{
    color: white;
    font-size: 30px;
    margin: 0px 5px;
    cursor: pointer;
    transition: 0.4s;
}

.col .social_icons .social_icon:hover {
    color: #f66335;
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.footer .copyright{
    text-align: center;
}
.bottom_line{
    width: 100%;
    height: 2px;
    background: #8d8d8d;
    border-radius: 3px;
    position: absolute;
    top: 30px;
    left: 0;
    overflow: hidden;
}
.bottom_line span{
    width: 15px;
    height: 100%;
    background: #f66335;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moveline 2s linear infinite;
}
@keyframes moveline{
    0%{
        left:-20px;
    }
    100%{
        left:100%;
    }
}